*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#413F42;
}

.container{
    position: relative;
}

.container .card{
    position: relative;
    height: 450px;
    width: 320px;
    background: #232323;
    border-radius: 8%;
    overflow: hidden;
}

.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEE3CB;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before{
    clip-path: circle(300px at 80% -20%);
}

.container .card::after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .image{
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%) rotateY(180deg);
    z-index: 10000;
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card:hover .image{
    top: 0%;
    transform: translateY(0%) rotateY(180deg);
}

.container .card .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(25deg);
    width: 270px;
}

.container .card .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .content{
    height: 210px;
}

.container .card .content h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .content .size,
.container .card .content .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .content .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card:hover .content .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .content .size h3,
.container .card .content .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px
}

.container .card .content .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background:#fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .content .size span:hover{
    background-color: #EEE3CB;
}

.container .card .content .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor:  pointer;
}

.container .card .content .color span:nth-child(2){
    background: #EEE3CB;
}

.container .card .content .color span:nth-child(3){
    background: #d63c49;
}

.container .card .content .color span:nth-child(4){
    background: #366ae8;
}

.container .card .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;  
}

.container .card:hover .content a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    background: #EEE3CB;
}