body{
    margin: 0;
    background: #9d9f9b;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    place-items: center;
}

.drop{
    position: relative;
    height: 200px;
    width: 200px;
    background: #a19f9a;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    box-shadow: 9px -9px 20px #838383;
}

.drop::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #a19f9a;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #616263,
                -40px 60px 32px #757778,
                inset -6px 6px 10px #484c55,
                inset 2px 6px 10px #a1a3a0,
                inset 20px -20px 22px #dbeaf0,
                inset 40px -40px 44px #9ea09c;
}

.drop::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #ebfafc;
    border-radius: 44% 56% 46% / 36% 50% 50% 64%;
    left: 130px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px white;
    opacity: 0.8;
}